@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

body {
    margin:  0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightseagreen;
    font-family: "JetBrains Mono", monospace;
}